<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="userBean" class="com.jonas.bean.User">
        <property name="userId" value="1"/>
        <property name="userName" value="Jonas"/>
        <property name="birthDate" value="1990-10-10"/>
    </bean>

    <!-- 自定义FactoryBean实现自定义bean加载逻辑 -->
    <bean id="customUserBean" class="com.jonas.feature.factorybean.UserFactoryBean">
        <property name="userInfo" value="2,Tom,1990-10-10"/>
    </bean>

    <!-- 自定义属性编辑器 与propertyEditorRegistrars二选一 -->
<!--    <bean id="customEditors" class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
<!--        <property name="customEditors">-->
<!--            <map>-->
<!--                <entry key="java.util.Date" value="com.jonas.feature.property.DatePropertyEditor"/>-->
<!--            </map>-->
<!--        </property>-->
<!--    </bean>-->

    <!-- 自定义Spring自带编辑器 -->
    <bean id="propertyEditorRegistrars" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.jonas.feature.property.DatePropertyEditorRegistrar"/>
            </list>
        </property>
    </bean>

    <!-- 自定义BeanFactoryPostProcessor -->
    <bean id="userBeanFactoryPostProcessor" class="com.jonas.feature.beanfactorypostprocessor.UserBeanFactoryPostProcessor"/>
</beans>